<table border="0" cellpadding="0" cellspacing="0" width="640" style="color: #555555; font-family: helvetica, arial, sans-serif;">
	<!-- Begin email header -->
	<tr>
		<td>
			{% include 'email/core/header.html.twig' %}
		</td>
	</tr>
	<!-- End email header -->
	<!-- Begin title -->
	<tr>
		<td style="padding: 20px; vertical-align: top;">
			<h1 style="color: #333333; font-size: 36px; line-height: 46px; margin: 0;">
				<a href="{{app.live_url}}" style="text-decoration:none; color:#333333;">
					Thank you for subscribing to our newsletter!
				</a>
			</h1>
			<p style="font-size: 14px; line-height: 22px;">
				You have successfullly subscribed to the {{ app.params['site']['title'] }} newsletter. You will now be one of the first to know about our best promotions, latest arrivals, exclusive offers, and much more!*
			</p>
		</td>
	</tr>
	<!-- End title -->
	<!-- Begin start shopping -->
	<tr>
		<td style="height: 34px; padding: 20px 20px 40px 20px;">
			<a href="{{app.live_url}}" style="background-color: #E16C25; color: #FFFFFF; display: inline-block; font-size: 12px; margin-right: 10px; padding: 10px 15px; text-decoration: none; text-transform: uppercase;">
				Start Shopping Now!
			</a>
		</td>
	</tr>
	<!-- End start shopping -->
	<!-- Begin thank you -->
	<tr>
		<td style="padding: 20px; vertical-align: top;">
			<p style="font-size: 14px; line-height: 22px;">
				Thank you from your friends at {{ app.params['site']['title'] }}.<br>
				Please add us to your email address book to make sure you receive important emails from us.
			</p>
		</td>
	</tr>	
	<!-- End thank you -->
	<!-- Begin conditions -->
	<tr>
		<td style="padding: 10px 20px; vertical-align: top;">
			<p style="font-size: 12px; line-height: 16px;">
				* May exclude certain brands and products. Subject to change without notice.
			</p>
		</td>
	</tr>
	<!-- End conditions -->
	<!-- Begin email footer -->
	<tr>
		<td>
			{% include 'email/core/footer.html.twig' %}
		</td>
	</tr>
	<!-- End email footer -->
</table>