{% extends "/_layouts/theme.html.twig" %}
{% block title %}
Coupon Codes
{% endblock %}
{% block breadcrumb %}
    {{ base.breadcrumbs({'Coupon Codes':''}) }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <header>
            <h1 class="page-header">Coupon Codes</h1>
        </header>
        <p>All current coupon codes and explanations.</p> 

        <p>All Carseats on sale now.  20% Off the marked price.  Limited time only.  Some restrictions may apply.  Enter coupon code CAR20 at checkout to see discount.  Coupon Code CAR20 applies to all car seats unless marked Special Value or Sale Price.  Offer may change at any time.  Other restrictions may apply.</p>

        <p>Save 15% on all Car Seats, Strollers, Feeding, And Baby Gear Excluding Baby Jogger, BOB, Bumbleride, Bugaboo, Chicco, Clek, Maclaren, Mamas &amp; Papas, Maxi-Cosi, Mutsy, Nuna, Orbit Baby, Peg Perego and Quinny Products. Use coupon code:  BRU15 at Checkout.  Coupon is not valid on Special Value items.  Offer for a limited time only.  Offer may change at any time.  Other restrictions may apply.</p>
         
        <p>Save 15% on all Chicco products.  Use coupon code CHICCO15 at checkout.  Coupon is not valid on Special Value items.  Offer for a limited time only.  Offer may change at any time.  Other restrictions may apply.</p>
    </div>
</div>
{% endblock %}
