{% extends "/_layouts/theme.html.twig" %}
{% block title %}
Free Shipping
{% endblock %}
{% block breadcrumb %}
    {{ base.breadcrumbs({'Free Shipping':''}) }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <header>
            <h1 class="page-header">Free Shipping</h1>
        </header>
        <h3>Free Shipping on Orders over $100!</h3>

        <p>We'll pay shipping costs on purchases of $100 or more!</p>

        <ul>
            <li>Offer only valid while supplies last and is limited to sizes/styles available.</li>
            <li>Applies only to products purchased from our website, on orders containing $100 or more (after any coupon).</li>
            <li>No Coupon Code necessary.</li>
            <li>Offer cannot be combined with any other offer.</li>
            <li>Offer not valid on Gift Cards.</li>
            <li>Offer only applies to GROUND/STANDARD shipping and excludes oversized and over weight items.</li>
            <li>This promotional offer may be modified or terminated at any time without notice.</li>
        </ul>

        <h3>HOW IT WORKS</h3>
        <p>To participate, simply add a qualifying product to your shopping cart and Free Ground Shipping will automatically be applied. NOTE: You must select the "Ground/Standard Shipping" option to receive the discount. Otherwise, the full shipping charge will be applied. Note that this offer is only valid for orders shipped within the continental U.S. This offer applies only to the individual items; other items in your cart that are not eligible will still incur a shipping charge. Oversized or overweight items excluded.</p> 

        <h3>TERMS AND CONDITIONS</h3>
        <p>Applies only for standard ground shipping. Discount does not apply to taxes, gift-wrapping, gift cards, or similar charges. Entire order must be shipped to a single address. Cannot be combined with any other promotional offer nor is this offer valid on previous purchases. Only applies to orders to be shipped to a valid address in the United States, excluding Alaska and Hawaii. Not available for shipments to APO/FPO addresses or P.O. boxes. Customer responsible for all shipping costs for returned merchandise. Offer not valid on canceled or out of stock merchandise.</p> 
        <p>The above map applies to In Stock items only. Order before 2:00 PM Pacific Standard Time and In Stock items ship the same day.  Orders that have both In Stock items and items with delayed shipping time frames (ex. Ships in 2 to 4 Weeks) will be shipped complete when all items are available. Items with delayed shipping may ship via FedEx Smartpost. Smartpost shipping adds 1-2 business days to shipping times. All Shipping and Delivery times are strictly estimates.</p>
    </div>
</div>
{% endblock %}
