{% extends "/_layouts/theme.html.twig" %}
{% block title %}
Help &amp; FAQs
{% endblock %}
{% block breadcrumb %}
    {{ base.breadcrumbs({'Help &amp; FAQs':''}) }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <header>
            <h1 class="page-header">Help &amp; FAQs</h1>
        </header>
        <div class="accordion" id="accordion2">
        <h3>Ordering</h3>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#1">
                        <!-- Title. Don't forget the <i> tag. -->
                        <h5><i class="fa fa-plus-square"></i> Account Access Problems</h5>
                    </a>
                </div>
                <div id="1" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <!-- Para -->
                        <p>Recently we upgraded our website and pre-existing accounts may have been deactivated. Please register again to enjoy the new BabyViva.com. If you continue to have problems accessing your account please <a href="{{app.url}}/contact">Contact Us</a> and explain the problem in detail.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#2">
                        <!-- Title. Don't forget the <i> tag. -->
                        <h5><i class="fa fa-plus-square"></i> Placing an Order</h5>
                    </a>
                </div>
                <div id="2" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <!-- Para -->
                        <p>Ordering online with BabyViva.com is as easy as 1,2,3. First, browse through our selection of exciting items and choose the item(s) you would like to purchase. Then add the item to your shopping cart and proceed shopping or continue to check out. That's it! It's that easy.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#3">
                        <!-- Title. Don't forget the <i> tag. -->
                        <h5><i class="fa fa-plus-square"></i> Pricing and Availability</h5>
                    </a>
                </div>
                <div id="3" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <!-- Para -->
                        <p>Prices, products and special offers shown on BabyViva.com may be subject to change without notice.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#4">
                        <!-- Title. Don't forget the <i> tag. -->
                        <h5><i class="fa fa-plus-square"></i> Canceling my order</h5>
                    </a>
                </div>
                <div id="4" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <!-- Para -->
                        <p>After you have clicked "Place Order," your order begins to process and you cannot make any online changes to your order. To change or cancel your order prior to shipment, you must a Customer Service representative. Please note that most orders process quickly and can enter the shipping process within minutes. If your order has already entered the shipping process, it cannot be changed or canceled.</p>
                    </div>
                </div>
            </div>                   

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#5">
                        <!-- Title. Don't forget the <i> tag. -->
                        <h5><i class="fa fa-plus-square"></i> Sales tax</h5>
                    </a>
                </div>
                <div id="5" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <!-- Para -->
                        <p>BabyViva.com is required by law to charge appropriate sales tax for orders with ship to California addresses.</p>
                    </div>
                </div>
            </div>                   

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#6">
                        <!-- Title. Don't forget the <i> tag. -->
                        <h5><i class="fa fa-plus-square"></i> Security</h5>
                    </a>
                </div>
                <div id="6" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <!-- Para -->
                        <p>Absolutely! We use Secure Socket Layer (SSL) encryption to ensure that your personal information cannot be intercepted and read by a third party. Your personal information and your credit card information are converted into bits of code that are transmitted securely. None of our customers have ever reported fraudulent use of their credit card information as a result of giving it to us over the Web, but if you ever suspect that your credit card information is being used without your knowledge, you should contact your credit card company immediately.</p>
                    </div>
                </div>
            </div>                   
        <h3>Shipping</h3>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#7">
                        <!-- Title. Don't forget the <i> tag. -->
                        <h5><i class="fa fa-plus-square"></i> Shipping Options</h5>
                    </a>
                </div>
                <div id="7" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <!-- Para -->
                        <p>We currently offer two shipping options within the contiguous United States. You may choose Standard Ground or Expedited Service. If you choose FedEx Ground most of our customers in the contiguous U.S. receive their orders in just 4 to 5 business days. Need it faster? Expedited will deliver your order within 3 business days after we have filled your order. These shipping times apply to "In Stock" only items.  Items may have delayed shipping estimates.  Delayed shipping estimates are listed for individual items and estimate the time before an item ships.  After an item is shipped it will follow the Standard or Expedited shipping time frames.  Please note that Expedited shipping may not be available on all items.  If you select Expedited shipping we will contact you and inform you if it is available on that item.  We are sorry, but we do not offer Saturday or Sunday delivery. For complete shipping information, visit our Shipping Rate Chart.  For FedEx shipping information visit www.FedEx.com.</p>
                    </div>
                </div>
            </div>                   
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#8">
                        <!-- Title. Don't forget the <i> tag. -->
                        <h5><i class="fa fa-plus-square"></i> Shipping outside the United States</h5>
                    </a>
                </div>
                <div id="8" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <!-- Para -->
                        <p>We are sorry, but at this time we do not offer any shipping options to countries other than the United States.  Please do not contact us to request shipping to other countries.  We will not ship international under any circumstances.</p>
                    </div>
                </div>
            </div>                   
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#9">
                        <!-- Title. Don't forget the <i> tag. -->
                        <h5><i class="fa fa-plus-square"></i> Shipping to a P.O. Box</h5>
                    </a>
                </div>
                <div id="9" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <!-- Para -->
                        <p>We're sorry, but you must provide us with a valid residential address in order to accommodate your request. For more information regarding FedEx shipping requirements, please visit their web site at www.FedEx.com.</p>
                    </div>
                </div>
            </div>                   
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#10">
                        <!-- Title. Don't forget the <i> tag. -->
                        <h5><i class="fa fa-plus-square"></i> Track Packages</h5>
                    </a>
                </div>
                <div id="10" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <!-- Para -->
                        <p>Find the FedEx tracking number in the e-mail we sent you confirming that your order has been shipped. Use that number at www.FedEx.com to check the status of your order online. It may take 24 hours before tracking information appears on the FedEx's web site.</p> 

                        <p>
                        If your order appears late, remember:
                        <ul>
                            <li>Credit card approval must be received prior to processing.</li>
                            <li>Expedited orders placed after 12 noon EST are processed the following day.</li>
                            <li>Expedited delivery only occurs on business days (Mondays through Fridays, excluding holidays).</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>                   
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#11">
                        <!-- Title. Don't forget the <i> tag. -->
                        <h5><i class="fa fa-plus-square"></i> Order Status</h5>
                    </a>
                </div>
                <div id="11" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <!-- Para -->
                        <p>You can look at past and pending orders. You must be a Registered Customer to use Order Status. <a href="#">Click here</a> to check your Order Status.</p>
                        <p>
                        Also, you will receive two e-mails after you have placed your order and provided us with a valid e-mail address:
                        <ul>
                            <li>The first confirms that your order has been received (your order confirmation number will be included); this e-mail should arrive within approximately 24 hours.</li>
                            <li>The second confirms that your order has been shipped (any tracking information will be included); this e-mail should arrive within approximately 24 hours after your package is shipped.</li>  
                        </ul>
                        </p>
                    </div>
                </div>
            </div>                   
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#12">
                        <!-- Title. Don't forget the <i> tag. -->
                        <h5><i class="fa fa-plus-square"></i> Shipping Charges</h5>
                    </a>
                </div>
                <div id="12" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <!-- Para -->
                        <p>Your shipping charges will appear in the box marked "shipping charges" at checkout for your convenience. For complete shipping information before you check out, please review our <a href="{{app.url}}/content/shipping-information">Shipping Rate Chart</a>.</p> 
                    </div>
                </div>
            </div>                   
        <h3>Returns</h3>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#13">
                        <!-- Title. Don't forget the <i> tag. -->
                        <h5><i class="fa fa-plus-square"></i> 30-Day Money-Back Guarantee</h5>
                    </a>
                </div>
                <div id="13" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <!-- Para -->
                        <p>We want you to be fully satisfied with every item that you purchase online from Baby Viva. If you are not satisfied with an item that you have purchased online, you may return the item within 30 days for a full refund of the purchase price, minus all shipping, handling or other charges. Many of our items are offered with free shipping.  This means that the cost of shipping has been included in the price to give you the total price of your order.  When you return an item you are responsible for the return shipping and you will also be responsible for the actual original outbound shipping costs.</p>  
 
<p>Some items are subject to a restocking fee.</p>
 
<p>Due to the extremely high cost of furniture shipping these items are considered a final sale and not eligible for returns.  We will of course take care of shipping damage or warranty claims if any should arise.</p> 
 
<p>Products may be returned within 30 days of receipt of the items. All items must be in its original new packaging and in its original new condition. Laundered items or items without the original packaging will not be accepted. Each package requires a Return Authorization Number (RMA). After request has been submitted and the return label received, please place the label on the outside of the package. All packages received by BabyViva.com without a Return Authorization Number will not be accepted.  If an item is to be returned due to a manufactures defect you must contact us via phone or email to arrange replacement or return shipping.</p>  
                    </div>
                </div>
            </div>                   
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#14">
                        <!-- Title. Don't forget the <i> tag. -->
                        <h5><i class="fa fa-plus-square"></i> Credit</h5>
                    </a>
                </div>
                <div id="14" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <!-- Para -->
<p>You can expect a refund within 30 days of our receiving your returned product. You will be refunded the shipping cost if the return is a result of a manufacturer error or a shipping error on our part.</p> 
                    </div>
                </div>
            </div>                   
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#15">
                        <!-- Title. Don't forget the <i> tag. -->
                        <h5><i class="fa fa-plus-square"></i> Return Instructions</h5>
                    </a>
                </div>
                <div id="15" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <!-- Para -->
                        <p>The packing slip in your package will contain detailed instructions for returning an item.
                        Here are the basic steps:
                        <ul>
                            <li>Please refer to your packing slip for return information.</li>
                            <li>Visit our Returns Tool to request a Return Merchandise Authorization # (RMA).</li>
                            <li>Click on the order that contains the item you need to return.</li>
                            <li>Click the “Return Items” button next to the item you need to return. Only items that are eligible for return will have an active link to click.</li>
                            <li>Select your Return Reason.</li>
                            <li>We cannot accept C.O.D. deliveries.</li>
                            <li>Insure package for proper protection.</li>
                        </ul></p>
                        <p>For your protection, we recommend that you use FedEx or UPS Ground for your return.
                        You can expect a refund within 30 days of our receiving your returned product.  Please contact us immediately if you feel you have received a product that has a manufacturer defect or we made a mistake and sent you a different product than what you ordered (wrong item, color, model, etc).  Under these circumstances do not ship us these products.  We will arrange for proper shipping or replacement.  We do not issue refunds for shipping charges if you send an item back on your own. 
                        * Please note: If there is extensive damage to an item upon delivery, email a Customer Service representative.</p>
                    </div>
                </div>
            </div>                   
        <h3>Miscellaneous</h3>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#16">
                        <!-- Title. Don't forget the <i> tag. -->
                        <h5><i class="fa fa-plus-square"></i> About Baby Viva</h5>
                    </a>
                </div>
                <div id="16" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <!-- Para -->
                        <p>Baby Viva is America's #1 store for all your baby needs. You'll not only find a huge selection of everything for Baby, you'll find them at super low sale prices. Baby Viva calls on over twenty years of juvenile product retail experience.  Baby Viva is a family owned and operated business that not only calls on its years of juvenile retail experience, but it approximately eight years of infant foster care guiding almost thirty newborns safely into the world.  We use this vast experience guide our selection of the right brands, product types, and individual items for your baby.  So click in today and discover why we're number one among moms.</p> 
                    </div>
                </div>
            </div>                   
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#17">
                        <!-- Title. Don't forget the <i> tag. -->
                        <h5><i class="fa fa-plus-square"></i> Contact Information</h5>
                    </a>
                </div>
                <div id="17" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                        <!-- Para -->
                        <p>We welcome any comments, suggestions and ideas that will make your shopping experience more enjoyable. Tell us how we can help by contacting us at Baby Viva Guest Service. We would love to hear from you! </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
