{% extends "/_layouts/theme.html.twig" %}
{% block title %}
Retail Store
{% endblock %}
{% block breadcrumb %}
    {{ base.breadcrumbs({'Retail Store':''}) }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <header>
            <h1 class="page-header">Retail Store</h1>
        </header>
        <p>We have the largest selection of strollers on display in Southern California!  We have over 150 models on display.  Most of our strollers are stocked in multiple colors.  We encourage you to come in and give them all a test drive to find the right model for you.  You can view many of these on our online store, but if you want to give them a push we have one here for you to try.</p>

        <p>Our car seat display has over 75 seats to choose from.  Many of our seats are stocked in multiple colors.  We encourage you to come to the store and view the seats.  It is very important to not only get the right seat for your child, but to get the right seat for your vehicle.</p>

        <p>We also offer a large selection of baby gear such as high chairs, playpens and other necessities.</p>

        <p>We carry furniture from Munire, Pali, Baby's Dream, Creations, Echelon, Million Dollar Baby, and Nurserysmart.  We have a large display of cribs and dressers in many different styles and colors.  If you need furniture we encourage you to come take a look at what we have to offer.</p>

        <p>We carry a full line of bedding in store.  Please come to the store and take a look at the large selection of bedding and accessories to make your nursery perfect.</p>

        <p>Our store is located at:</p>

        <p><address>BabyViva<br>
            8680 Miralani Drive #128<br>
        San Diego, CA 92126</address></p>

        <p>Our hours of operation are as follows:<br>
        Monday-Saturday 10:00 AM to 5:30 PM<br>
        Sunday 12:00 PM to 5:30 PM</p>
    </div>
</div>
{% endblock %}
