// 2.6
// Breadcrumbs
// --------------------------------------------------

.breadcrumb {

    background-color: #ffffff;    
    margin-bottom: 10px;
    padding:8px 0px;

    > li {

        font-size: 12px;

        &.active { color: lighten(#595959, 30%);}

        > a {
            background-color: @breadcrumb-bg;
            color: @breadcrumb-color;
            padding: 10px 12px;
            &:active, &:hover, &:focus {
                background-color: @breadcrumb-active-bg;
                color: @breadcrumb-active-color;
                text-decoration: none;
            }
        }

        // Home icon
        &:first-child {
            > a {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    // Dividers
    > li + li {
        &:before {
            content:"\3009";
            padding: 0 1px;
            color: lighten(@breadcrumb-active-color, 30%);
        }
    }
}