// 2.5
// Navigation
// --------------------------------------------------


// Desktop nav
// --------------------------------------------------

nav#main {
    background: @nav-bg; border-color: lighten(@nav-text, 40%); border-top-style: solid; border-top-width: 1px; border-bottom-style: solid; border-bottom-width: 1px; padding-left:0; padding-right:0;
}

nav#nav-desktop-main {
    ul li {
        a {
            color: @nav-text; font-size: 15px; outline: none; padding: 16px 12px;
            span.caret { border-top-color: @nav-text; border-bottom-color: @nav-text; margin-left: 8px;}
        }
        &:active, &:focus, &:hover {            
            a {
                background-color: @nav-bg-hover; color: @nav-text-hover;
                span.caret { border-top-color: @nav-text-hover; border-bottom-color: @nav-text-hover;}
            }
        }        
    }
}

nav#nav-desktop-main {
    @media (min-width: @screen-md) and (max-width: @screen-md-max) {
        ul li a { padding: 16px 8px;}
    }
}


// Dropdown Menu
nav#nav-desktop-main ul li ul.dropdown-menu {
    background-color: @nav-dropdown-bg;
    li a {
        color: @nav-dropdown-text; font-size: 13px;
        &:hover { color: @nav-dropdown-text-hover; background-color: @nav-dropdown-bg-hover;}
    }
}

// Dropdown Menu - Active
nav#nav-desktop-main ul li:hover ul.dropdown-menu { display: block;}
nav#nav-desktop-main ul.dropdown-menu {
    margin: 0; padding: 0; border: 0;    
    li {
        margin: 0; padding: 0;
        a { border-width: 0; padding-top: 8px; padding-bottom: 8px;}
        &:nth-child(odd) { } // Odd dropdown rows
        &:nth-child(even) { } // Even dropdown rows
    }
}

// Search
div.search {
    padding: 8px 14px;
    form {

        &:active, &:focus, &:hover {
            .box-shadow(0px; 0px; 3px; @input-border-focus); // mixins
        }
        
        input {
            border-color: @input-border;
            &:active, &:focus, &:hover {
                .box-shadow(0px; 0px; 0px; @input-border); // mixins
            }
        }

        a {
            border-color: @input-border;
            color: #335E67;
            &:hover {
                background-color: #ffffff;
            }
        }
    }
}


// Navigation Sidebar
// --------------------------------------------------

.navigation {
    .navbar {
        border: 0 none;
        .sidebar {
            background-color: #ffffff;
            .nav > li > a {
                background-color: #ffffff; color: #bf568b; text-align: center;
                &:active, &:focus, &:hover { background-color: #bf568b; color: #ffffff;}
            }

            .nav > li.active > a {
                background-color: #bf568b; color: #ffffff;
            }
            
            .box-shadow; // mixins
        }
    }
}


// Tabs
// --------------------------------------------------
.nav-tabs {
    margin-top: 10px;
}

// Hide tabbable panes to start, show them when `.active`
.tab-content {

}