// 2.5
// Navigation
// --------------------------------------------------


// Desktop nav
// --------------------------------------------------

nav#main {
    background: @nav-bg;
    border-color: none;
    border-top-style: solid;
    border-top-width: 0;
    border-bottom-style: solid;
    border-bottom-width: 0;
    padding-left:0;
    padding-right:0;
}

nav#nav-desktop-main {
    text-align: center;

    // Horizontal Rule
   hr { border-color: @nav-hr;}
   
    ul{
        display: inline-block;
        float: none;

        li {
            a {
                color: @nav-text;
                font-size: 20px;
                outline: none;
                padding: 16px 12px;                

                span.caret {
                    border-top-color: @nav-text;
                    border-bottom-color: @nav-text;
                    margin-left: 8px;
                }
            }
            &:active, &:focus, &:hover {
                a {
                    background-color: @nav-bg-hover;
                    color: @nav-text-hover;
                    text-decoration: @nav-text-hover-decoration;

                    span.caret {
                        border-top-color: @nav-text-hover;
                        border-bottom-color: @nav-text-hover;
                    }
                }
            }        
        }
    }
}

nav#nav-desktop-main {
    @media (min-width: @screen-md) and (max-width: @screen-md-max) {
        ul li a { padding: 16px 8px;}
    }
}


// Dropdown Menu
nav#nav-desktop-main ul li ul.dropdown-menu {
    background-color: @nav-dropdown-bg;
    li a {
        color: @nav-dropdown-text;
        font-size: 13px;
        &:hover {
            color: @nav-dropdown-text-hover;
            background-color: @nav-dropdown-bg-hover;
        }
    }
}

// Dropdown Menu - Active
nav#nav-desktop-main ul li:hover ul.dropdown-menu { display: block;}
nav#nav-desktop-main ul.dropdown-menu {
    margin: 0; padding: 0; border: 0;    
    li {
        margin: 0; padding: 0;
        a { border-width: 0; padding-top: 8px; padding-bottom: 8px;}
        &:nth-child(odd) { } // Odd dropdown rows
        &:nth-child(even) { } // Even dropdown rows
    }
}


// Navigation Sidebar
// --------------------------------------------------

.navigation {
    .navbar {
        border: 0 none;
        .sidebar {
            background-color: #ffffff;
            .nav > li > a {
                background-color: #ffffff;
                color: @brand-primary;
                text-align: center;

                &:active, &:focus, &:hover {
                    background-color: @brand-primary;
                    color: #ffffff;}
            }

            .nav > li.active > a {
                background-color: @brand-primary;
                color: #ffffff;
            }
            
            .box-shadow; // mixins
        }
    }
}


// Tabs
// --------------------------------------------------
.nav-tabs {
    margin-top: 10px;
    > li {
        > a {
            &:active, &:focus, &:hover {
                background: @nav-tabs-active-link-hover-bg;
            }
        }
    }
}

// Hide tabbable panes to start, show them when `.active`
.tab-content {

}