.product-grid {
    margin-bottom: 20px;

    // Section header
    header {
        margin-bottom: 10px;
        // Section description
        .section-description { }
    }


    // Product
    .product {
        background: @product-bg-color;
        height: auto;
        text-align: center;
        margin-bottom: 30px;        

        &:hover {
            
        }

        // Small Screen
        @media (min-width: @screen-sm-min) {
            height: 370px;    
        }

        // Medium Screen
        @media (min-width: @screen-md-min) {
            height: 390px;    
        }
        
        a { text-decoration: none;}

        // Product image
        .image {

          text-align: center;
          margin-bottom: 10px;

            .thumbnail {
                margin: 0;
            }
        }


        // Product color / image carousel below main product image
        .empty-carousel {
            
            display: none;
            
        }

        .color-carousel {
            float: left;
            display: block;
            width: 100%;

            .carousel {
                padding-right:0;
            }

            .thumbnail {
                border: none;
                cursor: pointer;
                margin-bottom: 0;

                .btn {
                    background:#eee; border-color:#eee; padding:.3em .5em;
                    &:hover { background:#ccc; border-color:#ccc; }
                }
            }
        }


        // Product header
        header {
            margin-bottom: 0;

            .brand {
                color: @product-brand-color;
                font-family: @product-brand-font-family;
                font-size: @product-brand-font-size;
                font-style: @product-brand-font-style;
                font-weight: @product-brand-font-weight;
                margin-bottom: 5px;
                text-transform: @product-brand-text-transform;
            }

            .product-name {
                color: @product-name-color;
                font-family: @product-name-font-family;
                font-size: @product-name-font-size;
                font-style: @product-name-font-style;
                font-weight: @product-name-font-weight;
                margin-bottom: 5px;
                margin-top: 0;
                text-transform: @product-name-text-transform;
            }
        }


        // Product pricing
        .pricing {

            .price {
                color: @product-price-color;
                font-family: @product-price-font-family;
                font-size: @product-price-font-size;
                font-style: @product-price-font-style;
                font-weight: @product-price-font-weight;
                text-transform: @product-price-text-transform;
                @media (min-width: @screen-sm-min) {
                    margin-bottom: 5px;
                }
            }

            .price-per-month {
                color: @product-price-per-month-color;
                font-family: @product-price-per-month-font-family;
                font-size: @product-price-per-month-font-size;
                font-style: @product-price-per-month-font-style;
                font-weight: @product-price-per-month-font-weight;
                margin-bottom: 2px;
                text-transform: @product-price-per-month-text-transform;
            }

            .price-range {
                color: @product-price-range-color;
                font-family: @product-price-range-font-family;
                font-size: @product-price-range-font-size;
                font-style: @product-price-range-font-style;
                font-weight: @product-price-range-font-weight;
                margin-bottom: 2px;
                text-transform: @product-price-range-text-transform;
            }

            .price-regular {
                color: @product-price-regular-color;
                font-family: @product-price-regular-font-family;
                font-size: @product-price-regular-font-size;
                font-style: @product-price-regular-font-style;
                font-weight: @product-price-regular-font-weight;
                margin-bottom: 2px;
                text-transform: @product-price-regular-text-transform;
            }

            .percent {
                color: @product-price-percent-color;
                font-family: @product-price-percent-font-family;
                font-size: @product-price-percent-font-size;
                font-style: @product-price-percent-font-style;
                font-weight: @product-price-percent-font-weight;
                margin-bottom: 2px;
                text-transform: @product-price-percent-text-transform;
            }
        }

        // Product rating
        .rating {
            .star-rating {

            }
        }
    }
}
